.panda-bg-info{
    background: #ffeae8;
}

.panda-btn-buy-now{
    background-color: #FF136F;
}

.cetegories img{
    width: 100px;
}

.text-white{
    color: #fff;
}

.btn-text-col{
    color: #FF136F;
}